body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border: 5px solid black;
    margin: 100px auto;
    height: 600px;
    width: 400px;
}

#screen {
    display: flex;
    background-color: white;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    font-size: xx-large;
    font-weight: bold;
    overflow-x: auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    max-height: 100px;
    margin-top: 50px;
    flex: 1;
}

#btn-board {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border-top: 2px solid black;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    cursor: pointer;
    align-items: center;
    border: 1px solid black;
    flex: 1;
}
.btn:hover {
    filter: brightness(1.1);
}

.dec {
    background-color: rgb(170, 170, 170);
    font-size: x-large;
}

.clear {
    flex: 3.05;  /* Takes 3x the space */
    background-color: lightcoral;
}

.divide {
    flex: 1;  /* Takes 1x the space */
}

.equal {
    flex: 2.02;
    background-color: rgb(170, 170, 170);
}

.op {
    background-color: orange;
    font-weight: bold;
}